node_modules
dist
coverage
.env
.env.local
storage/json/*.json
storage/cache/*
!storage/json/.gitkeep
!storage/cache/.gitkeep
*.log
.DS_Store
prisma/*.db
*.sqlite
storage/mail/*
!storage/mail/.gitkeep
